.password-req {
  border: 1px solid red;
  border-radius: 5px;
  background-color: rgba(247, 57, 57, 0.603);
  margin: 20px 0;
  padding: 20px;

  .title {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
  }
}

